@model doStuff.ViewModels.EventFeedViewModel

<span>
    <select class="form-control">
        @foreach (var i in Model.Groups)
        {
            <option value="@i">@i.Name</option>
        }
    </select>

    <div>
        <h4>EventFeedViewModel</h4>
        <hr />
        <dl class="dl-horizontal"></dl>
    </div>



    @foreach (var item in Model.Events)
    {
        <div class="well">
            <ul class="list-inline">
                <li><h3>@item.Owner</h3></li>
                <li class="pull-right"><h3>@item.Event.Name</h3></li>
            </ul>
            <p>@item.Event.Description</p>
            @foreach (var c in @item.Comments)
            {
                <p>@</p>
                <p>@c.Content</p>
            }

        </div>

    }

    </table>
</span>

<span class="pull-right">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <ul>
        @foreach (var user in Model.SideBar.UserList)
        {
            <li>@user.DisplayName</li>
        }
    </ul>

</span>

