@model doStuff.Models.DatabaseModels.Event

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--Html.EditorFor(model => model.Photo)-->
                <select name="Photo">
                    <option value="birthday">Birthdays</option>
                    <option value="drinks">Drinks</option>
                    <option value="concert">Concert</option>
                    <option value="sports">Sport related activity</option>
                    <option value="theater">Theater / Cinema</option>
                </select>
                @Html.ValidationMessageFor(model => model.Photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Minutes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Minutes)
                @Html.ValidationMessageFor(model => model.Minutes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeOfEvent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="datepicker" name="TimeOfEvent">
                @Html.ValidationMessageFor(model => model.TimeOfEvent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Min, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Min)
                @Html.ValidationMessageFor(model => model.Min)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Max, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Max)
                @Html.ValidationMessageFor(model => model.Max)
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
