@model doStuff.ViewModels.EventFeedViewModel

@foreach (var item in Model.Events)
    {
    <div class="row event-box" >
        <div class="col-md-12 event-banner">
            <div class="row">
                <div class="col-md-4 event-owner">@item.Owner</div>
                <div class="col-md-3 event-group">
                    @if (item.Event.GroupId != null)
                    {
                        foreach (var i in Model.Groups)
                        {
                            if (i.GroupID == item.Event.GroupId)
                            { <!-- Gets groupname if Event has group-->
                            @i.Name
                            }
                        }
                    }
                </div>
                <div class="col-md-2 event-countdown">@item.Event.Minutes</div>
                <div class="col-md-3 event-name">@item.Event.Name</div>
            </div>
        </div>
        <div class="col-md-12 event-middle">
            <div class="row">
                <div class="col-md-6 event-photo-time-location">
                    <div class="row">
                        <div class="col-md-12 event-photo-space"></div>
                    </div>
                    <div class="row event-time-place">
                        <div class="col-md-6 event-time">@String.Format("{0:d MMM yyyy}", item.Event.TimeOfEvent) <br /> @String.Format("{0:HH:mm}", item.Event.TimeOfEvent)</div>
                        <div class="col-md-6 event-location">@item.Event.Location</div>
                    </div>
                </div>
                <div class="col-md-6 event-description-buttons">
                    <div class="row">
                        <div class="col-md-12 event-description">@item.Event.Description</div>
                    </div>
                        @if (item.Attending == null)
                        {
                            using (Html.BeginForm("AnswerEvent", "User"))
                            {
                                @Html.Hidden("eventId", item.Event.EventID)
                                <div class="row">
                                    <div class="col-md-12 btn-group">
                                        <button type="submit" class="btn btn-primary" name="answer" id="event-join" value="True">join</button>
                                        <button type="submit" class="btn btn-primary" name="answer" id="event-decline" value="False">decline</button>
                                    </div>
                                </div>
                                @Html.ValidationSummary(false)
                            }
                        }
                        else if (item.Attending == true)
                        {
                            <div class="row event-join-decline">
                                <div class="col-md-12 event-joined">You Have Joined!</div>
                            </div>
                        }
                        else
                        {
                            <div class="row event-join-decline">
                                <div class="col-md-12 event-declined">You Have Declined!</div>
                            </div>
                        }
                </div>
            </div>
        </div>
        <div class="col-md-12 event-comments">
            @foreach (var c in @item.Comments)
            {
                <p>@c.OwnerId</p>
                <p>@c.Content</p>
            }
        </div>
    </div>
    }


