@using doStuff.Services;
@model doStuff.ViewModels.EventFeedViewModel

@foreach (var item in Model.Events)
    {
    <div class="well well-lg" >
        <ul class="list-inline">
            <li><p>@item.Owner</p></li>
            @if (item.Event.GroupId != null)
            {
                foreach (var i in Model.Groups)
                {
                    if (i.GroupID == item.Event.GroupId)
                    { <!-- Gets groupname if Event has group-->
                        <li><p>@i.Name</p></li>
                    }
                }
            }
            <li><h3>@item.Event.Minutes</h3></li>
            <li class="pull-right"><h3>@item.Event.Name</h3></li>
        </ul>
        <p>@item.Event.Description</p>
        @using (Html.BeginForm("AnswerEvent", "User"))
        {
            <div class="btn-group list-inline pull-right">
                <button type="submit" class="btn btn-primary" name ="Yes" value="@item.Event.EventID">Join</button>
                <button type="submit" class="btn btn-primary" name ="No" value="@item.Event.EventID">Cancel</button>
            </div>
            @Html.ValidationSummary(false)
        }
        @foreach (var c in @item.Comments)
            {
            <p>@c.OwnerId</p>
            <p>@c.Content</p>
            }
    </div>
    }


