@model doStuff.ViewModels.EventFeedViewModel

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <div>
        @Html.ActionLink("add friend", "AddFriend", null, new { @class = "btn btn-default btn-sidebar" })
    </div>
    <ul>
        @foreach (var user in Model.SideBar.UserList)
        {
            <li class="eventfeed-friend">@user.DisplayName
                @using (Html.BeginForm("RemoveFriend", "User"))
                {
                    @Html.Hidden("friendId", user.UserID)
                    <button type="submit" class="btn btn-primary remove-button">
                        <i class="glyphicon glyphicon-remove right"></i>
                    </button>
                    @Html.ValidationSummary(false)
                }
            </li>
        }
    </ul>
</div>
