@model doStuff.ViewModels.EventFeedViewModel
@using doStuff.ViewModels;

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <div class="friend-list">
        <ul id="FriendList">
            @foreach (var user in Model.SideBar.UserList)
            {
                <li class="eventfeed-friend" id=@Html.Raw("friend" + user.UserID)>@user.DisplayName
                @using (Html.BeginForm("RemoveFriend", "User", FormMethod.Post, new { @class = "remove-friend" }))
                {
                    <input name="friendId" type="hidden" value="@user.UserID">
                    <button type="submit" class="btn btn-primary remove-button">
                        <i class="glyphicon glyphicon-remove right"></i>
                    </button>
                }
                </li>
            }
            @foreach (var user in Model.SideBar.UserRequestList)
            {
                <li class="eventfeed-friend" id=@Html.Raw("friend" + user.UserID)>@user.DisplayName
                    @using (Html.BeginForm("DeclineFriendRequest", "User", FormMethod.Post, new { @class = "remove-friend" }))
                    {
                        <input name="requesterId" type="hidden" value="@user.UserID">
                        <button type="submit" class="btn btn-primary remove-button">
                            <i class="glyphicon glyphicon-remove right"></i>
                        </button>
                    }
                    @using (Html.BeginForm("AcceptFriendRequest", "User", FormMethod.Post, new { @class = "add-friend" }))
                    {
                        <input name="requesterId" type="hidden" value="@user.UserID">
                        <button type="submit" class="btn btn-primary remove-button">
                            <i class="glyphicon glyphicon-ok right"></i>
                        </button>
                    }
                </li>
            }
        </ul>
    </div>
    <!--
    <div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 add-member-title">add a friend:</div>
        </div>
        using (Html.BeginForm("AddFriend", "User", FormMethod.Post, new { class = "add-friend" }))
        {
                <div class="form-group">
                    <div class="col-md-10 add-friend-field">
                        <input type="text" name="username" placeholder="insert username..." />
                    </div>
                    <div class="col-md-2 add-member-button">
                        <input type="submit" />
                    </div>
                </div>
        }
    </div>
        -->
        @using (Html.BeginForm("AddFriend", "User", FormMethod.Post, new { @class = "add-friend" }))
        {
            <!--<input name="groupId" type="hidden" value="Model.Group.GroupID" />-->
            <div class="row add-friend-field-button">
                <div class="form-group">
                    <div class="col-md-10 add-friend-field">
                        <input type="text" name="username" placeholder="Your friends username" />
                    </div>
                    <div class="col-md-2 add-member-button">
                        <input type="submit" value="add" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    <div>
        <p class="sidebar-title">Events</p>
    </div>
    <div class="event-list">
        @if (Model.SideBar.EventList.Count != 0)
        {
            <ul>
                @foreach (var thisEvent in Model.SideBar.EventList)
                {

                    if ((bool)thisEvent.Attending && thisEvent.State == State.ON)
                    {
                        <li>Name: @thisEvent.Event.Name</li>
                        <li>Time: @thisEvent.Event.TimeOfEvent</li>
                        <li>Location: @thisEvent.Event.Location</li>
                        <li class="divider"></li>
                    }
                }
            </ul>
        }
        else
        {
            <p>You have no events</p>
        }
    </div>

</div>
