@model doStuff.ViewModels.EventFeedViewModel
@using doStuff.ViewModels;

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <div class="friend-list">
        <ul>
            @foreach (var user in Model.SideBar.UserList)
            {
                <li class="eventfeed-friend">
                    @user.DisplayName
                @using (Html.BeginForm("RemoveFriend", "User"))
                {
                    <input name="friendId" type="hidden" value="@user.UserID">
                    <button type="submit" class="btn btn-primary remove-button">
                        <i class="glyphicon glyphicon-remove right"></i>
                    </button>
                    @Html.ValidationSummary(false)
                }
            </li>
            }
        </ul>
    </div>
    <div>
        @using (Html.BeginForm("AddFriend", "User"))
        {
            <div class="row add-friend">
                <div class="col-md-12 add-friend-title">add friend</div>
                <div class="form-group">
                    <span class="col-md-12">
                        <input type="text" name="username" placeholder="insert username..." />
                    </span>
                </div>
            </div>
            @Html.ValidationSummary(false)
        }
    </div>
    <div class="event-list">
        <ul>
            
            @foreach (var thisEvent in Model.SideBar.EventList)
            {
                
                if ((bool)thisEvent.Attending && thisEvent.State == State.ON)
                {
                    <li>Name: @thisEvent.Event.Name</li>
                    <li>Time: @thisEvent.Event.TimeOfEvent</li>
                    <li>Location: @thisEvent.Event.Location</li>
                    <li class="divider"></li>                
                }
            }
        </ul>
    </div>
</div>
