@model doStuff.ViewModels.EventFeedViewModel
@using doStuff.ViewModels;

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <div>
        @using (Html.BeginForm("AddFriend", "User", FormMethod.Post, new { id = "AddFriend" }))
        {
            <div class="row add-friend">
                <div class="col-md-12 add-friend-title">add friend</div>
                <div class="row add-friend-field-button">
                    <div class="form-group">
                        <div class="col-md-10 add-friend-field">
                            <input type="text" name="username" placeholder="Your friends username" />
                        </div>
                        <div class="col-md-2 add-member-button">
                            <input type="submit" value="add" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            @Html.ValidationSummary(false)
        }
    </div>
    <div class="friend-list">
        <ul id="FriendList">
            @foreach (var user in Model.SideBar.UserList)
            {
                <li class="eventfeed-friend">@user.DisplayName
                @using (Html.BeginForm("RemoveFriend", "User"))
                {
                    <input name="friendId" type="hidden" value="@user.UserID">
                    <button type="submit" class="btn btn-primary remove-button">
                        <i class="glyphicon glyphicon-remove right"></i>
                    </button>
                }
                </li>
            }
        </ul>
    </div>
    <div>my events</div>
    <div class="event-list">
        <ul>
            
            @foreach (var thisEvent in Model.SideBar.EventList)
            {
                
                if ((bool)thisEvent.Attending && thisEvent.State == State.ON)
                {
                    <li>Name: @thisEvent.Event.Name</li>
                    <li>Time: @thisEvent.Event.TimeOfEvent</li>
                    <li>Location: @thisEvent.Event.Location</li>
                    <li class="divider"></li>                
                }
            }
        </ul>
    </div>
</div>
