@model doStuff.ViewModels.EventFeedViewModel
@using doStuff.ViewModels;

<div class="pull-right right-sidebar">
    <!--Owner Username and Avatar-->
    <div class="sidebar-title-box">
        <img class="sidebar-avatar" src="@Url.Content(Model.SideBar.Avatar)" alt="Avatar" />
        <h3>@Model.SideBar.User.DisplayName</h3>
    </div>
    <div class="friends-title">my Friends</div>
    <!--List of friends and friend requests-->
    <div class="friend-list-box">
        <ul>
                @RenderPage("FriendList.cshtml")
        </ul>
    </div>
    <div class="add-friend-box">
        @using (Html.BeginForm("AddFriend", "User", FormMethod.Post, new { @class = "add-friend" }))
        {
            <form class="form-inline">
                <div class="form-group add-friend-form">
                    <label class="sr-only" for="add-friend">add friend</label>
                    <input type="text" name="username" class="form-control add-friend-field" id="add-friend" placeholder="enter the username...">
                    <button type="submit" class="btn btn-default add-button">add</button>
                </div>
            </form>
        }
    </div>
    <div>
        <p class="sidebar-title">Events</p>
    </div>
    <div class="event-list">
        @if (Model.SideBar.EventList.Count != 0)
        {
            <ul>
                @foreach (var thisEvent in Model.SideBar.EventList)
                {

                    if ((bool)thisEvent.Attending && thisEvent.State == State.ON)
                    {
                        <li>Name: @thisEvent.Event.Name</li>
                        <li>Time: @thisEvent.Event.TimeOfEvent</li>
                        <li>Location: @thisEvent.Event.Location</li>
                        <li class="divider"></li>
                    }
                }
            </ul>
        }
        else
        {
            <p>you currently have no uppcoming events</p>
        }
    </div>

</div>
