@model doStuff.ViewModels.EventFeedViewModel
@using doStuff.ViewModels;

<div class="pull-right right-sidebar">
    <!--Owner Username and Avatar-->
    <div class="sidebar-title-box">
        <div class="col-md-4"><img class="sidebar-avatar" src="@Url.Content(Model.SideBar.Avatar)" alt="Avatar" /></div>
        <div class="col-md-8 sidebar-title"><h3>@Model.SideBar.User.DisplayName</h3></div>
    </div>
    <div class="friends-title">my Friends</div>
    <!--List of friends and friend requests-->
    <div class="friend-list-box">
    @if (Model.SideBar.UserRequestList.Count > 0)
    {
        <div class="friend-requests-title">you Have unanswered Friend requests</div>
    }
    <ul id="friend-list">
            @RenderPage("FriendList.cshtml")
    </ul>
    </div>
    <div class="add-friend-box">
        @using (Html.BeginForm("AddFriend", "User", FormMethod.Post, new { @class = "add-friend" }))
        {
            <!--<input name="groupId" type="hidden" value="Model.Group.GroupID" />-->
            <div class="row add-friend-field-button">
                <div class="form-group">
                    <div class="col-md-10 add-friend-field">
                        <input type="text" name="username" placeholder="Your friends username" />
                    </div>
                    <div class="col-md-2 add-member-button">
                        <input type="submit" value="add" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <p class="sidebar-title">Events</p>
    </div>
    <div class="event-list">
        @if (Model.SideBar.EventList.Count != 0)
        {
            <ul>
                @foreach (var thisEvent in Model.SideBar.EventList)
                {

                    if ((bool)thisEvent.Attending && thisEvent.State == State.ON)
                    {
                        <li>Name: @thisEvent.Event.Name</li>
                        <li>Time: @thisEvent.Event.TimeOfEvent</li>
                        <li>Location: @thisEvent.Event.Location</li>
                        <li class="divider"></li>
                    }
                }
            </ul>
        }
        else
        {
            <p>You have no events</p>
        }
    </div>

</div>
