@model doStuff.ViewModels.EventFeedViewModel
@using doStuff.ViewModels;

<div class="pull-right right-sidebar">
    <!--Owner Username and Avatar-->
    <div class="sidebar-title-box">
        <div class="col-md-4"><img class="sidebar-avatar" src="@Url.Content("../Content/pictures/Avatars/avatar01.jpg")" alt="Avatar" /></div>
        <div class="col-md-8 sidebar-title"><h3>@Model.SideBar.User.DisplayName</h3></div>
    </div>
    <div class="friends-title">my Friends</div>
    <!--List of friends and friend requests-->
    <div class="friend-list-box">
    @if (Model.SideBar.UserRequestList.Count > 0)
    {
        <div class="friend-requests-title">you Have unanswered Friend requests</div>
    }
    <ul>
            @foreach (var user in Model.SideBar.UserRequestList)
            {
            <li class="eventfeed-friend" id=@Html.Raw("friend" + user.UserID)>
                @using (Html.BeginForm("DeclineFriendRequest", "User", FormMethod.Post, new { @class = "remove-friend" }))
                {
                    <input name="requesterId" type="hidden" value="@user.UserID">
                    <button type="submit" class="btn btn-primary sidebar-button">
                        <i class="glyphicon glyphicon-remove x-button"></i>
                    </button>
                }
                @using (Html.BeginForm("AcceptFriendRequest", "User", FormMethod.Post, new { @class = "add-friend" }))
                {
                    <input name="requesterId" type="hidden" value="@user.UserID">
                    <button type="submit" class="btn btn-primary sidebar-button">
                        <i class="glyphicon glyphicon-ok v-button"></i>
                    </button>
                }
                <div class="friend-display-name">@user.DisplayName</div>
            </li>
            }
            @foreach (var user in Model.SideBar.UserList)
            {
            <li class="eventfeed-friend" id=@Html.Raw("friend" + user.UserID)>
                @using (Html.BeginForm("RemoveFriend", "User", FormMethod.Post, new { @class = "remove-friend" }))
                {
                    <form class="form-inline">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary sidebar-button">
                                <i class="glyphicon glyphicon-remove x-button"></i>
                            </button>
                            <input name="friendId" type="hidden" value="@user.UserID" />
                            <div class="friend-display-name">@user.DisplayName</div>
                        </div>
                    </form>
                }
            </li>
            }
            @if (Model.SideBar.UserRequestList.Count > 0)
            {
                <li class="divider"></li>
            }
            @if (Model.SideBar.UserList.Count > 0)
            {
                foreach (var user in Model.SideBar.UserList)
                {
                    <li class="eventfeed-friend" id=@Html.Raw("friend" + user.UserID)>
                        @using (Html.BeginForm("RemoveFriend", "User", FormMethod.Post, new { @class = "remove-friend" }))
                        {
                            <form class="form-inline">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary sidebar-button">
                                        <i class="glyphicon glyphicon-remove x-button"></i>
                                    </button>
                                    <input name="friendId" type="hidden" value="@user.UserID" />
                                    <div class="friend-display-name">@user.DisplayName</div>
                                </div>
                            </form>
                        }
                    </li>
                }
            }
            else
            {
                <li><p class="friend-display-no-friends">
                    you currently have no friends, you can add friends by inputing
                    their username into the field below
                </p></li>
            }
            </ul>
    </div>
    <div class="add-friend-box">
        @using (Html.BeginForm("AddFriend", "User", FormMethod.Post, new { @class = "add-friend" }))
        {
            <form class="form-inline">
                <div class="form-group add-friend-form">
                    <label class="sr-only" for="add-friend">add friend</label>
                    <input type="text" name="username" class="form-control add-friend-field" id="add-friend" placeholder="enter the username..."/>
                    <button type="submit" class="btn btn-default add-friend-button">add friend</button>
                </div>
            </form>
        }
    </div>
    <div>
        <p class="sidebar-title">Events</p>
    </div>
    <div class="event-list">
        @if (Model.SideBar.EventList.Count != 0)
        {
            <ul>
                @foreach (var thisEvent in Model.SideBar.EventList)
                {

                    if ((bool)thisEvent.Attending && thisEvent.State == State.ON)
                    {
                        <li>Name: @thisEvent.Event.Name</li>
                        <li>Time: @thisEvent.Event.TimeOfEvent</li>
                        <li>Location: @thisEvent.Event.Location</li>
                        <li class="divider"></li>
                    }
                }
            </ul>
        }
        else
        {
            <p>You have no events</p>
        }
    </div>

</div>
