<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Login.css")
    @Styles.Render("~/Content/SideBar.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
@if (Request.IsAuthenticated)
{
    <body>
        <div class="container body-content">
            @RenderBody()
        </div>
    </body>
}
else
{
    <body class="login-body">
        <div class="col-md-12 login-logo"></div>
        <div class="container body-content login-box">
            @RenderBody()
        </div>
    </body>
}
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
