@model doStuff.ViewModels.GroupFeedViewModel

<div class="navbar navbar-inverse navbar-fixed-top">
    @RenderPage("Banner.cshtml")
</div>

<div class="col-md-1 add-event pull-left pull-down">
    <a class="btn btn-default plus-symbol" href="@Url.Action("CreateEvent", "Group" , new { @groupId = Model.groupId })"></a>
</div>

<div class="col-md-8 main pull-down">
    @RenderPage("~/Views/Shared/Feedback.cshtml")
    @RenderPage("GroupFeed.cshtml")
</div>

<div class="col-md-3 side-bar pull-down">
    @RenderPage("SideBar.cshtml")
    @using (Html.BeginForm("AddMember", "Group"))
    {
        @Html.Hidden("groupId", Model.groupId)
        
        <div class="form-group">
            <span class="col-md-10">
                <input type="text" name="username" placeholder="Your friends username" />
            </span>
        </div>
        @Html.ValidationSummary(false)
    }
</div>
