@model doStuff.ViewModels.GroupFeedViewModel

<div class="navbar navbar-inverse navbar-fixed-top">
    @RenderPage("Banner.cshtml")
</div>

<div class="col-md-1 add-event pull-left pull-down">
    <a class="btn btn-default plus-symbol" href="@Url.Action("CreateEvent", "Group" , new { @groupId = Model.Group.GroupID })">
        <i class="glyphicon glyphicon-plus create-event"></i>
    </a>
</div>

<div class="col-md-8 pull-down">
    @RenderPage("~/Views/Shared/Feedback.cshtml")
    @RenderPage("GroupFeed.cshtml")
</div>

<div class="col-md-3 side-bar pull-down" id="member-list" data-groupid=@Model.Group.GroupID>
    @RenderPage("SideBar.cshtml")
</div>