
@model doStuff.ViewModels.GroupFeedViewModel

<div class="pull-right right-sidebar">
    <h3>@Model.SideBar.User.DisplayName</h3>
    <div>
        @foreach (var group in Model.Groups)
        {
           if (group.GroupID == Model.groupId)
           {
               if (Model.SideBar.User.UserID == group.OwnerId)
               {
                    @Html.ActionLink("add member", "AddMember", new { groupId = Model.groupId }, new { @class = "btn btn-default btn-sidebar" })
                    break;
               }
               else
               {
                    <p>Members</p>
                    break;
               }
            }
        }
    </div>
    <ul>
        @foreach (var group in Model.Groups)
{
    if (group.GroupID == Model.groupId)
    {
        if (Model.SideBar.User.UserID == group.OwnerId)
        {
            foreach (var user in Model.SideBar.UserList)
            {
                if (user.UserID != Model.SideBar.User.UserID)
                {
                    <li class ="eventfeed-friend">
                        @user.DisplayName
                    @using (Html.BeginForm("RemoveMember", "Group"))
                    {
                        @Html.Hidden("memberId", user.UserID)
                        @Html.Hidden("groupId", group.GroupID)
                        <button type="submit" class="btn btn-primary remove-button">
                            <i class="glyphicon glyphicon-remove right"></i>
                        </button>
                        @Html.ValidationSummary(false)
                    }
                </li>
                }
            }
            break;
        }
        else
        {
            foreach (var user in Model.SideBar.UserList)
            {
                if (user.UserID != Model.SideBar.User.UserID)
                {
                            <li>@user.DisplayName</li>
                        }
                    }
                    break;
                }
            }
        }        
    </ul>
</div>
