@model doStuff.ViewModels.GroupFeedViewModel
@using doStuff.ViewModels

<div class="pull-right right-sidebar">
    @using (Html.BeginForm("RemoveMember", "Group", FormMethod.Post, new { @class = "leave-group" }))
    {
        @Html.Hidden("memberId", Model.SideBar.User.UserID)
        @Html.Hidden("groupId", Model.Group.GroupID)
        <h2>@Model.Group.Name</h2>
        <button type="submit" class="btn btn-primary remove-button">
            <i class="glyphicon glyphicon-remove right"></i>
        </button>
    }
    <div>
        <p class="sidebar-title">Members</p>
    </div>
    
    <ul>
        @if (Model.SideBar.User.UserID == Model.Group.OwnerId)
        {
            foreach (var user in Model.SideBar.UserList)
            {
                <li class ="eventfeed-friend">
                    @user.DisplayName
                    @if(user.UserID != Model.Group.OwnerId)
                    {
                        using (Html.BeginForm("RemoveMember", "Group", FormMethod.Post, new { @class = "remove-member" }))
                        {
                            @Html.Hidden("memberId", user.UserID)
                            @Html.Hidden("groupId", Model.Group.GroupID)
                            <button type="submit" class="btn btn-primary remove-button">
                                <i class="glyphicon glyphicon-remove right"></i>
                            </button>
                        }
                    }
                </li>
            }
        }
        else
        {
            foreach (var user in Model.SideBar.UserList)
            {
                <li>@user.DisplayName</li>
            }
        }        
    </ul>
    @if (Model.SideBar.User.UserID == Model.Group.OwnerId)
    {
    <div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 add-member-title">add a member:</div>
        </div>
        @using (Html.BeginForm("AddMember", "Group", FormMethod.Post, new { @class = "add-member" }))
        {
            <input name="groupId" type="hidden" value="@Model.Group.GroupID" />
            <div class="row add-friend-field-button">
                <div class="form-group">
                    <div class="col-md-10 add-friend-field">
                        <input type="text" name="username" placeholder="Your friends username" />
                    </div>
                    <div class="col-md-2 add-member-button">
                        <input type="submit" value="add" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    }
    <div>
        <p class="sidebar-title">Events</p>
    </div>
    <div class="event-list">
        @if (Model.SideBar.EventList.Count != 0)
        {
            <ul>
                @foreach (var thisEvent in Model.SideBar.EventList)
                {

                    if ((bool)thisEvent.Attending && thisEvent.State == State.ON)
                    {
                        <li>Name: @thisEvent.Event.Name</li>
                        <li>Time: @thisEvent.Event.TimeOfEvent</li>
                        <li>Location: @thisEvent.Event.Location</li>
                        <li class="divider"></li>
                    }
                }
            </ul>
        }
        else
        {
            <p>You have no events</p>
        }
    </div>
</div>
