@model doStuff.ViewModels.GroupFeedViewModel

<div class="pull-right right-sidebar">
    <h2>@Model.Group.Name</h2>
    <div>
        <p class="sidebar-title">Members</p>
    </div>
    @if (Model.SideBar.User.UserID == Model.Group.OwnerId)
    {
    <div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 add-member-title">add a member:</div>
        </div>
        @using (Html.BeginForm("AddMember", "Group"))
        {
            @Html.Hidden("groupId", Model.Group.GroupID)
            <div class="row add-friend-field-button">
                <div class="col-md-10 add-friend-field">
                    <input type="text" name="username" placeholder="Your friends username" />
                </div>
                <div class="col-md-2 add-member-button">
                    <input type="submit" value="add" class="btn btn-default" />
                </div>
            </div>
            @Html.ValidationSummary(false)
        }
    </div>
    }
    <ul>
        @if (Model.SideBar.User.UserID == Model.Group.OwnerId)
        {
            foreach (var user in Model.SideBar.UserList)
            {
                <li class ="eventfeed-friend">
                    @user.DisplayName
                    @if(user.UserID != Model.Group.OwnerId)
                    {
                        using (Html.BeginForm("RemoveMember", "Group"))
                        {
                            @Html.Hidden("memberId", user.UserID)
                            @Html.Hidden("groupId", Model.Group.GroupID)
                            <button type="submit" class="btn btn-primary remove-button">
                                <i class="glyphicon glyphicon-remove right"></i>
                            </button>
                            @Html.ValidationSummary(false)
                        }
                    }
                </li>
            }
        }
        else
        {
            foreach (var user in Model.SideBar.UserList)
            {
                <li>@user.DisplayName</li>
            }
        }        
    </ul>
</div>
